
$color-red:#d01e1e;
$text-gray:#666666;
$color-gray:#b7b7b7;
$gray:#b3b3b3;
$color-light:#ddd;
$light-gray:#999;
$footer-color:#212529;
$background-color:#222222;
$icon-background: #4e4e4e;
$white:#fff;
$black:#000;
$border-color:#ced4da;
$border-line:.003rem solid $color-light;